/* quizpage styles */

.quizpage {
  flex-direction: column;
}

.subtitle {
  border-radius: 30px;
  height: 50px;
  margin: 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 25px;
  padding: 15px;
  min-width: 460px;
}

.questionBox {
  margin: 30px 25%;
  padding: 20px;
  border-radius: 30px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Strait", sans-serif;
  font-size: 35px;
  flex-direction: column;
}

.input {
  width: 175px;
  height: 50px;
  align-self: center;
  background-color: white;
  font-family: "Strait", sans-serif;
  font-size: 35px;
  color: slategrey;
  margin-top: 1em;
  border-radius: 30px;
  padding: 15px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

.input:focus {
  outline: none;
}

.button {
  margin-top: 40px;
  font-size: 20px;
  letter-spacing: 2px;
}

footer {
  margin-top: auto;
  padding: 20px 50px;
}

.home {
  height: 50px;
  cursor: pointer;
}

.questionNum {
  display: inline;
  float: right;
  font-size: 40px;
  font-family: "Space Mono", monospace;
  background: -webkit-linear-gradient(10deg, #ff922d, #ff4bb4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
