/* results page styles */

.results-page {
  display: flex;
  flex-direction: column;
  padding: 50px 50px 0;
}

.results-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 10% 0;
}

.result-tile {
  width: 320px;
  padding: 5px;
  margin: 10px 25px;
  display: flex;
  color: slategray;
  font-size: 25px;
}

.result-tile > p {
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.results-message {
  padding: 5px;
  margin-top: 1em;
  background: -webkit-linear-gradient(10deg, #ff922d, #ff4bb4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
}

.tick,
.cross {
  height: 50px;
  margin-left: 20px;
}
