@import url("https://fonts.googleapis.com/css2?family=Potta+One&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Strait&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-wrap: wrap;
  padding: 5% 250px;
  gap: 20px;
  justify-content: center;
  text-align: center;
  overflow: auto;
}

.quizpage {
  flex-direction: column;
}

a {
  text-decoration: none;
}

h1 {
  text-align: center;
  font-family: "Potta One", cursive;
  font-size: 50px;
  margin-top: 50px;
  background: -webkit-linear-gradient(10deg, #ff922d, #ff4bb4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tile {
  border-radius: 35px;
  height: 200px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: auto;
  min-width: 300px;
}

.cardTitle {
  color: white;
  font-family: "Space Mono", monospace;
  font-weight: 100;
}

.t2 .cardTitle,
.t9 .cardTitle,
.t11 .cardTitle {
  color: slategrey;
}

.t1 {
  background: -webkit-linear-gradient(10deg, #ff922d, #ff4bb4);
}
.t2 {
  background-color: #b3e845;
}
.t3 {
  background-color: #8a88ed;
}
.t4 {
  background-color: #ff922d;
}
.t5 {
  background-color: #304fbd;
}
.t6 {
  background-color: #fe3131;
}
.t7 {
  background-color: #f34aa5;
}
.t8 {
  background-color: #42e152;
}
.t9 {
  background-color: #2eead3;
}
.t10 {
  background-color: #0b177e;
}
.t11 {
  background-color: #fff628;
}
.t12 {
  background-color: #cd5bf5;
}

.subtitle {
  background-color: grey;
  border-radius: 30px;
  height: 50px;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.questionBox {
  margin: 30px 25%;
  padding: 20px;
  background-color: grey;
  border-radius: 30px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Strait", sans-serif;
}
