body{
    margin: 0;
    box-sizing: border-box;
    padding: 10px 150px;
}

main {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    
}

.t1 {
    background-color: red;
    display: flex;
}
.t2 {
    background-color: rebeccapurple;
}
.t3 {
    background-color: blue;
}
.t4 {
    background-color: yellow;
}
.t5 {
    background-color: green;
}
.t6 {
    background-color: orangered;
}
.t7 {
    background-color: palevioletred;
}
.t8 {
    background-color: aqua;
}
.t9 {
    background-color: yellow;
}
.t10 {
    background-color: green;
}
.t11 {
    background-color: orangered;
}
.t12 {
    background-color: palevioletred;
}

ul {
    list-style: none;
    padding-left: 0;
}

.answer li{
    padding-left: 5px;
}

.box {
    min-width: 200px;
    margin: 10px;
    padding: 0px 20px;
}