body{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: aqua;
}

main {
    background-color: pink;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 50px;
    column-gap: 50px;
    place-items: center center;

    
}

.tile {
    border-radius: 10px;
    height: 100px;
    width: 200px;
    text-align: center;
    place-content: center center;

}

.cardTitle {

}

.t1 {
    background-color: red;
}
.t2 {
    background-color: rebeccapurple;
}
.t3 {
    background-color: blue;
}
.t4 {
    background-color: yellow;
}
.t5 {
    background-color: green;
}
.t6 {
    background-color: orangered;
}
.t7 {
    background-color: palevioletred;
}
.t8 {
    background-color: aqua;
}
.t9 {
    background-color: yellow;
}
.t10 {
    background-color: green;
}
.t11 {
    background-color: orangered;
}
.t12 {
    background-color: palevioletred;
}